.card_left .texto h1{
    
    color: #ffffff;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
   text-align:left;
    letter-spacing: 0.6px;
    line-height: 50px;
}
.card_left .texto p{
    font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.03em;
text-align: justify;
color: rgba(192, 192, 192, 1);
}

.imgStandard{

    width: 50%;
    display: flex;
    justify-content: center;

}
.imgStandard img{
    border-radius: 2px;
   height: 286px;
   width:618px;

} 
.card_left{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
   

    
}
.texto{
    display: flex;
    flex-direction: row;

    padding: 0px 20px 0px 20px;
  
   

}
.buttons{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.buttons button{
    width: 208px;
}

@media  screen and (max-width:1300px) {
    .card_left .texto h1{
       text-align: center;
    }
    .card_left{
        display: flex;
     flex-wrap: wrap;
        margin-top:50px;
    
    }
    .texto{
        margin-top: 50px;
       
    
    }
  
    .buttons{
        width: auto;
        display: flex;
    flex-direction: column;
    }
    .imgStandard{

        width: 100%;
        display: flex;
     
        justify-content: center;
    
    }
    .imgStandard img{
       border-radius: 2px;
       height: 100%;
       width:90%;
    
    } 
    
}
