

.card_right .texto h1{
    
    color: #ffffff;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
   text-align:left;
    letter-spacing: 0.6px;
    line-height: 50px;
}
.card_right .texto p{
    font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.03em;
text-align: justify;
color: rgba(192, 192, 192, 1);
}

.imgStandard{

    width: 50%;
    display: flex;
 
    justify-content: center;

}
.imgStandard img{
   border-radius: 2px;
   height: 100%;
   width:618px;

} 
.card_right{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    
}
.texto{
    display: flex;
    flex-direction: column;
   
    padding: 0px 20px 0px 20px;
    width: 618px;
}
.buttons{
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    gap: 30px;
   
}
.buttons button{
    width: 208px;
}
@media  screen and (max-width:1300px) {
    .card_right .texto h1{
       text-align: center;
    }
    .card_right{
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top:50px;
    
    }
    .texto{
        margin-top: 50px;
        width: 100%;
    }
    .imgStandard{
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    .imgStandard img{
       border-radius: 2px;
       height: 100%;
       width:90%;
    } 
    .buttons{
     flex-direction: column;
     gap: 20px;
    }
    .buttons a {
        width: 100%;
       
        
    }
    .buttons a button{
width: 100%;
    }
    
}

