.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0044AA;
  color: #fff;
 width: 50px;
  
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}


.scrollToTopButton:hover {
  background: linear-gradient(247deg, rgba(0,83,170,1) 44%, rgba(0,38,170,1) 86%);
}
